.detalhes-page-container {
    padding: 20px;
  }
  
  .detalhes-page-container h1 {
    font-size: 25px;
    border-bottom: 2px solid #0098c9;
    padding-bottom: 10px;
    margin-top: 5px;
  }
  
  .general-info-container {
    overflow: hidden;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px;
  }
  
  .general-info-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  .general-info-table th,
  .general-info-table td {
    text-align: center;
    padding: 5px;
  }
  
  .general-info-table th {
    background-color: #00274D;
    color: #fff;
    font-size: 10px;
  }
  
  .general-info-table td {
    font-size: 10px;
    font-weight: 550;
  }
  
  .detalhes-table-container {
    overflow-x: auto;
    max-width: 82vw;
    margin-top: 20px;
  }
  
  .detalhes-table {
    width: 100%;
    min-width: 3000px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin-top: 6px;
    transition: width 0.3s ease;
  }
  
  .detalhes-table th,
  .detalhes-table td {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .detalhes-table th {
    background-color: #00274D;
    color: #fff;
    padding: 5px;
    font-size: 10px;
  }
  
  .detalhes-table td {
    padding: 8px;
    color: #666666;
    font-size: 10px;
    font-weight: 500;
  }
  
  .detalhes-table .icon-check {
    color: green;
  }
  
  .detalhes-table .icon-minus {
    color: red;
  }

  .icon-ellipsish {
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  
  