@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

.app-container {
    display: flex;
    width: 100%;
}

.content {
}

.main {
    padding: 20px;
    position: fixed;
    z-index: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 80px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

#logo img {
    height: 50px; 
    margin-bottom: -5px;
    transition: width .5s;
    margin-top: -6px;
}

#conti_transparente {
    width: 70px; 
    margin-bottom: 12px;
    transition: width .5s;
}

#welcome {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 20px;
    margin-left: 10px;
}

#welcome .item-description {
    font-size: 14px;
    color: #000; 
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.side-item:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateX(10px);
}

.side-item:hover .item-description, .side-item:hover a, .side-item:hover .submenu-icon, .submenu-item a:hover {
    color: #fff;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    transition: all 0.3s ease;
}

.side-item a:hover {
    color: #fff;
    background-color: #007bff;
}

.side-item a i, .submenu-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    z-index: 1001;
    transition: all 0.3s ease;
}

#logout_btn:hover {
    background-color: #007bff;
    color: #fff;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #007bff;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 10%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 10px;
}

#sidebar.open-sidebar #conti_transparente {
    width: 120px; 
    height: 70px; 
}

.sidebar-closed #dashboard {
    grid-template-columns: repeat(4, minmax(335px, 1fr));
}

.submenu {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.submenu-item {
    padding: 5px 0;
    transition: all 0.3s ease;
}

.submenu-item a {
    color: #0a0a0a;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.submenu-item a:hover {
    color: #fff;
    background-color: #007bff;
}

.submenu-icon {
    margin-left: auto;
    font-size: 12px;
    transition: all 0.3s ease;
}

#sidebar:not(.open-sidebar) .submenu-icon {
    display: none;
}
